{% extends "layout.html.twig" %}

{% block title %}organizer.nom{% endblock %}

{% block content %}

    <h1>{{ organizer.nom }}</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="organizer/form">Modifier</a>
    {% endif %}
    
    <p>Membres</p>
    <ul>
    {% for member in organizer.members %}
        <li>{{ member.username }} </li>
    {% endfor %}
    </ul>    
    
    <h2>Événements</h2>
    {% if events|length > 0 %}
        
    {% for event in events %}

    <article>

        <h2><a href="event/{{ event.id }}">{{ event.titre }}</a></h2>
        {% if is_granted('edit', event) %}
            <a href="event/form">Modifier</a>
        {% endif %}        
        <h3>{{ event.dateEvenement|date('D j M Y') }}</h3>
        <p>{{ event.description }}</p>
        
        <p>{{ event.horaire_debut|date('G i') }} - {{ event.horaire_fin|date('G i') }} {{ event.horaire_complement }} <br />{{ event.prix }}</p>

        <p>{{ event.category }}</p>
        <p>{{ event.nomLieu }}</p>
        <p>Organisateurs</p>
        <ul>
        {% for orga in event.organizers %}
            <li>{{ orga.nom }} </li>
        {% endfor %}
        </ul>
    </article>

    {% endfor %}
    
    {% endif %}

{% endblock %}