{% extends "layout.html.twig" %}

{% block title %}Organisateurs{% endblock %}

{% block content %}

    <h1>Lieux</h1>

    {% for place in places %}

    <article>

        <h2><a href="place/{{ place.id }}">{{ place.nom }}</a></h2>
        {% if is_granted('edit', place) %}
            <a href="place/form">Modifier</a>
        {% endif %}
        <p>{{ place.adresse }} ({{ place.quartier }}) - {{ place.townName }} {{ place.townRegion|upper }}</p>

    </article>

    {% endfor %}

{% endblock %}