{% extends "layout.html.twig" %}

{% block title %}place.nom{% endblock %}

{% block content %}

    <h1>{{ place.nom }}</h1>

        
    <h2>Membres</h2>
    <ul>
    {% for member in place.members %}
        <li>{{ member.username }} </li>
    {% endfor %}
    </ul>
    
    <h2>Organisateurs</h2>
    <ul>
    {% for orga in place.organizers %}
        <li><a href="/organizer/{{ orga.id }}">{{ orga.nom }}</a></li>
    {% endfor %}
    </ul> 
    
    {% if is_granted('ROLE_ADMIN') %}
        <a href="place/form">Modifier</a>
    {% endif %}
    
    
    <h2>Événements</h2>
    {% if events|length > 0 %}
        
    {% for event in events %}

    <article>

        <h2><a href="event/{{ event.id }}">{{ event.titre }}</a></h2>

        <p>{{ event.description }}</p>
        <p>{{ event.adresse }}</p>

        
        <p>Organisateurs</p>
        <ul>
        {% for orga in event.organizers %}
            <li>{{ orga.nom }} </li>
        {% endfor %}
        </ul>
    </article>

    {% endfor %}
    
    {% endif %}

{% endblock %}